  <div class="card">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header"><%= day_of_week %></h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul id="sortable">
            <li class="list ui-state-default">

              <div class="task_text">
                Item 1
              </div>

              <div class="task_check">
                <%= image_tag("gray/checkmark_24.png", :class=> "check_icon") %>
              </div>

              <div class="task_delete">
                <%= image_tag("gray/delete_24.png", :class=> "delete_icon") %>
              </div>

            </li>

            <li class="list ui-state-default">

              <div class="task_text">
                Item 2
              </div>

              <div class="task_check">
                <%= image_tag("gray/checkmark_24.png", :class=> "check_icon") %>
              </div>

              <div class="task_delete">
                <%= image_tag("gray/delete_24.png", :class=> "delete_icon") %>
              </div>

            </li>

            <li class="list ui-state-default">

              <div class="task_text">
                Item 3
              </div>

              <div class="task_check">
                <%= image_tag("gray/checkmark_24.png", :class=> "check_icon") %>
              </div>

              <div class="task_delete">
                <%= image_tag("gray/delete_24.png", :class=> "delete_icon") %>
              </div>

            </li>

            <li class="list ui-state-default">

              <div class="task_text">
                Item 4
              </div>

              <div class="task_check">
                <%= image_tag("gray/checkmark_24.png", :class=> "check_icon") %>
              </div>

              <div class="task_delete">
                <%= image_tag("gray/delete_24.png", :class=> "delete_icon") %>
              </div>

            </li>

            <li class="list ui-state-default">

              <div class="task_text">
                Item 5
              </div>

              <div class="task_check">
                <%= image_tag("gray/checkmark_24.png", :class=> "check_icon") %>
              </div>

              <div class="task_delete">
                <%= image_tag("gray/delete_24.png", :class=> "delete_icon") %>
              </div>

            </li>

            <li class="list ui-state-default">

              <div class="task_text">
                Item 6
              </div>

              <div class="task_check">
                <%= image_tag("gray/checkmark_24.png", :class=> "check_icon") %>
              </div>

              <div class="task_delete">
                <%= image_tag("gray/delete_24.png", :class=> "delete_icon") %>
              </div>

            </li>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("gray/info_24.png", :id=> "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
  </div> <!-- class="front face" -->
  <div class="face back">

    <div class="back_banner">
    </div> <!-- class="banner" -->

    <!-- back list body -->
    <div class="back_list_body">

      <div id="back_list_body_inside">

      <div id="login-signup_div">
        <div id="login-signup_button">
          <p>Sign-Up and Log-In</p>
        </div>
        <div id="logout">
        </div>
      </div>

      <div id="save_lists_div">
        <div id="save_list_button">
          <p>Save Today's To Do</p>
        </div>
      </div>

      <div id="color_theme_div">
      </div>

    </div> <!-- class="back_list_body" -->


    <div class="back_list_footer">
      <div class="big_footer_left">
      </div>
      <div class="big_footer_center">
      </div>
      <div class="big_footer_right">
        <%= image_tag("gray/arrow_circle_left_24.png", :id=> "flip_back_icon") %>
      </div>
    </div> <!--"list_footer"-->
  </div> <!-- class="face back" -->

</div> <!-- class="card" -->