<div class="modal_wrap">

  <div class="modal_overlay">

  </div> <!--modal_overlay-->

  <div class="vertical-offset">
    <div class="modal_box">
      <%= image_tag("modal_close.png", :id=> "close_modal") %>

      <div id="signup_page">

        <h2>Sign Up</h2>

        <div id="signup_forms">
          <%= form_for @user do |f| %>

            <div class="field">
              <%= f.label :username %><br>
              <%= f.text_field :username %>
            </div>
            <br>
            <div class="field">
              <%= f.label :email %><br>
              <%= f.text_field :email %>
            </div>
            <br>
            <div class="field">
              <%= f.label :password %><br>
              <%= f.password_field :password %>
            </div>

            <br>
            <div class="actions">
              <%= f.submit %>
            </div>
          <% end %>
        </div> <!-- singup form -->

      </div> <!-- singup_page -->

      <div id="signin_page">
        <h2>Log In</h2>

        <%= form_tag sessions_path do %>
          <%= label_tag :email %><br>
          <%= text_field_tag :email, params[:email] %><br>
          <br>

          <%= label_tag :password %><br>
          <%= password_field_tag :password %><br>

          <% if !@favorite.nil? %>
            <input type="hidden" name="favorite_id" value="<%= @favorite.id %>">
          <% end %>
          <br>
          <%= submit_tag %>
        <% end %>



      </div> <!--signin_page -->

    </div> <!--modal wrap-->
  </div> <!--vertical-offset-->

</div> <!--modal wrap -->