<div id="week">

  <div id="monday" class="flip large">
    <div class="card">
      <div class="face front">

        <div class="banner">
          <h3 class="day_header">Monday</h3>
        </div> <!-- class="banner" -->

        <div class="list_body">

            <ul class="sortable">
              <% 12.times do %>
                <li class="list ui-state-default">

                  <div class="task_text">
                    <%= form_for(@task) do |f| %>
                    <%= f.text_field :content %>
                    <% end %>
                  </div>

                  <div class="task_check">
                    <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                  </div>

                  <div class="task_delete">
                    <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                  </div>

                </li>
              <% end %>
            </ul>

        </div> <!--"list_body"-->

        <div class="list_footer">
          <div class="big_footer_left">
            <%= image_tag("plus_24.png", :class => "add_task_icon") %>
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("info_24.png", :class=> "flip_icon") %>
          </div>


        </div> <!--"list_footer"-->
      </div> <!-- class="front face" -->
      <div class="face back ">

        <div class="back_banner">
        </div> <!-- class="banner" -->

        <!-- back list body -->
        <div class="back_list_body">

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->


          <div class="back_list_footer">
            <div class="big_footer_left">
            </div>
            <div class="big_footer_center">
            </div>
            <div class="big_footer_right">
              <%= image_tag("arrow_circle_left_24.png", :class=> "flip_back_icon") %>
            </div>
          </div> <!--.back_list_footer"-->
        </div> <!-- back_list_body -->

      </div> <!-- face back -->
    </div><!-- .card  -->
  </div> <!-- monday -->



  <div id="tuesday" class="card small">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header">Tuesday</h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul class="sortable">
            <% 12.times do %>
              <li class="list ui-state-default">

                <div class="task_text">
                  <%= form_for(@task) do |f| %>
                  <%= f.text_field :content %>
                  <% end %>

                  <!-- press return after entering text, replace form with text field -->

                </div>

                <div class="task_check">
                  <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                </div>

                <div class="task_delete">
                  <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                </div>

              </li>
            <% end %>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
          <%= image_tag("plus_24.png", :class => "add_task_icon") %>
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("info_24.png", :class=> "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
    </div> <!-- class="front face" -->
    <div class="face back hidden">

      <div class="back_banner">
      </div> <!-- class="banner" -->

      <!-- back list body -->
      <div class="back_list_body">

        <div class="back_list_body_inside">

          <div class="login-signup_div">
            <div class="login-signup_button">
              <p>Sign-Up and Log-In</p>
            </div>
            <div class="logout">
            </div>
          </div> <!-- login-signup_div -->

          <div class="save_lists_div">
            <div class="save_list_button">
              <p>Save Today's To Do</p>
            </div>
          </div> <!--save_lists_div-->

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->
        </div> <!-- .back_list_body_inside" -->


        <div class="back_list_footer">
          <div class="big_footer_left">
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("arrow_circle_left_24.png", :class=> "flip_back_icon") %>
          </div>
        </div> <!--.back_list_footer"-->
      </div> <!-- back_list_body -->

    </div> <!-- face back -->
  </div><!-- .card tuesday -->

  <div id="wednesday" class="card small">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header">Wednesday</h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul class="sortable">
            <% 12.times do %>
              <li class="list ui-state-default">

                <div class="task_text">
                  <%= form_for(@task) do |f| %>
                  <%= f.text_field :content %>
                  <% end %>

                  <!-- press return after entering text, replace form with text field -->

                </div>

                <div class="task_check">
                  <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                </div>

                <div class="task_delete">
                  <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                </div>

              </li>
            <% end %>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
          <%= image_tag("plus_24.png", :class => "add_task_icon") %>
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("info_24.png", :class=> "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
    </div> <!-- class="front face" -->
    <div class="face back hidden">

      <div class="back_banner">
      </div> <!-- class="banner" -->

      <!-- back list body -->
      <div class="back_list_body">

        <div class="back_list_body_inside">

          <div class="login-signup_div">
            <div class="login-signup_button">
              <p>Sign-Up and Log-In</p>
            </div>
            <div class="logout">
            </div>
          </div> <!-- login-signup_div -->

          <div class="save_lists_div">
            <div class="save_list_button">
              <p>Save Today's To Do</p>
            </div>
          </div> <!--save_lists_div-->

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->
        </div> <!-- .back_list_body_inside" -->


        <div class="back_list_footer">
          <div class="big_footer_left">
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("arrow_circle_left_24.png", :class => "flip_back_icon") %>
          </div>
        </div> <!--.back_list_footer"-->
      </div> <!-- back_list_body -->

    </div> <!-- face back -->
  </div><!-- .card wednesday -->

  <div id="thursday" class="card small">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header">Thursday</h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul class="sortable">
            <% 12.times do %>
              <li class="list ui-state-default">

                <div class="task_text">
                  <%= form_for(@task) do |f| %>
                  <%= f.text_field :content %>
                  <% end %>

                  <!-- press return after entering text, replace form with text field -->

                </div>

                <div class="task_check">
                  <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                </div>

                <div class="task_delete">
                  <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                </div>

              </li>
            <% end %>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
          <%= image_tag("plus_24.png", :class => "add_task_icon") %>
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("info_24.png", :class => "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
    </div> <!-- class="front face" -->
    <div class="face back hidden">

      <div class="back_banner">
      </div> <!-- class="banner" -->

      <!-- back list body -->
      <div class="back_list_body">

        <div class="back_list_body_inside">

          <div class="login-signup_div">
            <div class="login-signup_button">
              <p>Sign-Up and Log-In</p>
            </div>
            <div class="logout">
            </div>
          </div> <!-- login-signup_div -->

          <div class="save_lists_div">
            <div class="save_list_button">
              <p>Save Today's To Do</p>
            </div>
          </div> <!--save_lists_div-->

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->
        </div> <!-- .back_list_body_inside" -->


        <div class="back_list_footer">
          <div class="big_footer_left">
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("arrow_circle_left_24.png", :class => "flip_back_icon") %>
          </div>
        </div> <!--.back_list_footer"-->
      </div> <!-- back_list_body -->

    </div> <!-- face back -->
  </div> <!-- .card thursday -->

  <div id="friday" class="card small">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header">Friday</h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul class="sortable">
            <% 12.times do %>
              <li class="list ui-state-default">

                <div class="task_text">
                  <%= form_for(@task) do |f| %>
                  <%= f.text_field :content %>
                  <% end %>

                  <!-- press return after entering text, replace form with text field -->

                </div>

                <div class="task_check">
                  <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                </div>

                <div class="task_delete">
                  <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                </div>

              </li>
            <% end %>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
          <%= image_tag("plus_24.png", :class => "add_task_icon") %>
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("info_24.png", :class => "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
    </div> <!-- class="front face" -->
    <div class="face back hidden">

      <div class="back_banner">
      </div> <!-- class="banner" -->

      <!-- back list body -->
      <div class="back_list_body">

        <div class="back_list_body_inside">

          <div class="login-signup_div">
            <div class="login-signup_button">
              <p>Sign-Up and Log-In</p>
            </div>
            <div class="logout">
            </div>
          </div> <!-- login-signup_div -->

          <div class="save_lists_div">
            <div class="save_list_button">
              <p>Save Today's To Do</p>
            </div>
          </div> <!--save_lists_div-->

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->
        </div> <!-- .back_list_body_inside" -->


        <div class="back_list_footer">
          <div class="big_footer_left">
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("arrow_circle_left_24.png", :class => "flip_back_icon") %>
          </div>
        </div> <!--.back_list_footer"-->
      </div> <!-- back_list_body -->

    </div> <!-- face back -->
  </div><!-- .card friday -->

  <div id="saturday" class="card small">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header">Saturday</h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul class="sortable">
            <% 12.times do %>
              <li class="list ui-state-default">

                <div class="task_text">
                  <%= form_for(@task) do |f| %>
                  <%= f.text_field :content %>
                  <% end %>

                  <!-- press return after entering text, replace form with text field -->

                </div>

                <div class="task_check">
                  <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                </div>

                <div class="task_delete">
                  <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                </div>

              </li>
            <% end %>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
          <%= image_tag("plus_24.png", :class => "add_task_icon") %>
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("info_24.png", :class => "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
    </div> <!-- class="front face" -->
    <div class="face back hidden">

      <div class="back_banner">
      </div> <!-- class="banner" -->

      <!-- back list body -->
      <div class="back_list_body">

        <div class="back_list_body_inside">

          <div class="login-signup_div">
            <div class="login-signup_button">
              <p>Sign-Up and Log-In</p>
            </div>
            <div class="logout">
            </div>
          </div> <!-- login-signup_div -->

          <div class="save_lists_div">
            <div class="save_list_button">
              <p>Save Today's To Do</p>
            </div>
          </div> <!--save_lists_div-->

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->
        </div> <!-- .back_list_body_inside" -->


        <div class="back_list_footer">
          <div class="big_footer_left">
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("arrow_circle_left_24.png", :class => "flip_back_icon") %>
          </div>
        </div> <!--.back_list_footer"-->
      </div> <!-- back_list_body -->

    </div> <!-- face back -->
  </div><!-- .card saturday -->

  <div id="sunday" class="card small">
    <div class="face front">

      <div class="banner">
        <h3 class="day_header">Sunday</h3>
      </div> <!-- class="banner" -->

      <div class="list_body">

          <ul class="sortable">
            <% 12.times do %>
              <li class="list ui-state-default">

                <div class="task_text">
                  <%= form_for(@task) do |f| %>
                  <%= f.text_field :content %>
                  <% end %>

                  <!-- press return after entering text, replace form with text field -->

                </div>

                <div class="task_check">
                  <%= image_tag("checkmark_24.png", :class=> "check_icon") %>
                </div>

                <div class="task_delete">
                  <%= image_tag("delete_24.png", :class=> "delete_icon") %>
                </div>

              </li>
            <% end %>
          </ul>

      </div> <!--"list_body"-->

      <div class="list_footer">
        <div class="big_footer_left">
          <%= image_tag("plus_24.png", :class => "add_task_icon") %>
        </div>
        <div class="big_footer_center">
        </div>
        <div class="big_footer_right">
          <%= image_tag("info_24.png", :class => "flip_icon") %>
        </div>


      </div> <!--"list_footer"-->
    </div> <!-- class="front face" -->
    <div class="face back hidden">

      <div class="back_banner">
      </div> <!-- class="banner" -->

      <!-- back list body -->
      <div class="back_list_body">

        <div class="back_list_body_inside">

          <div class="login-signup_div">
            <div class="login-signup_button">
              <p>Sign-Up and Log-In</p>
            </div>
            <div class="logout">
            </div>
          </div> <!-- login-signup_div -->

          <div class="save_lists_div">
            <div class="save_list_button">
              <p>Save Today's To Do</p>
            </div>
          </div> <!--save_lists_div-->

          <div class="color_theme_div">
            <%= render "color_theme_picker" %>
          </div> <!-- color_theme_div -->
        </div> <!-- .back_list_body_inside" -->


        <div class="back_list_footer">
          <div class="big_footer_left">
          </div>
          <div class="big_footer_center">
          </div>
          <div class="big_footer_right">
            <%= image_tag("arrow_circle_left_24.png", :class => "flip_back_icon") %>
          </div>
        </div> <!--.back_list_footer"-->
      </div> <!-- back_list_body -->

    </div> <!-- face back -->
  </div><!-- .card sunday -->


</div> <!-- week -->

